## <center>  Секрет богатства

** В этом задании поработаем с данными о переписи населения [Adult](https://archive.ics.uci.edu/ml/datasets/Adult). **

<img src="http://memesmix.net/media/created/76upq4.jpg" width=600px/>

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [5]:
!wget "https://docs.google.com/uc?export=download&id=1arf0d2Aq1Ji7HW23Z74cfyAupa3ujtVc" -O adult.data.zip -q

In [6]:
!unzip adult.data.zip

Archive:  adult.data.zip
  inflating: adult.data.csv

In [24]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько женщин и сколько мужчин (признак *sex*) представлено в этом датасете?** 

- а) 21790 мужчин and 10771 женщин
- б) 16346 мужчин and 12532 женщин
- в) 21790 женщин and 10771 мужчин
- г) 16346 женщин and 12532 мужчин

In [ ]:
# You code here

**2. Какой средний возраст женщин (признак *age*)?**

- а) 34.67
- б) 35.95
- в) 36.86
- г) 37.04

In [ ]:
# You code here

**3. Какой процент граждан Германии (признак *native-country*)?**

- а) 1.13
- б) 0.42
- в) 1.42
- г) 0.36

In [ ]:
# You code here

**4-5. Найдите математическое ожидание и стандартное отклонение возрата тех, кто зарабатывает больше 50 тысяч в год (признак *salary*) и тех, кто зарабатывает меньше 50 тычяч в год? **

Больше: 
- а) 45 +- 9.5 лет
- б) 42 +- 11.5 лет
- в) 41 +- 12.5 лет
- г) 44 +- 10.5 лет

Меньше:
- а) 37 +- 14 лет
- б) 38 +- 14 лет
- в) 39 +- 15 лет
- г) 40 +- 15 лет

In [ ]:
# You code here

**6. Правда ли, что те, кто зарабатывает больше 50 тысяч в год имеют по меньшей мере законченное школьное образование**

- а) Да
- б) Нет

In [ ]:
# You code here

**7. Выведите статистику для каждой расы (признак *race*) и каждого пола. Используйте *groupby()* и *describe()*. Найдите максимальый возраст представителя расы*Amer-Indian-Eskimo*.**

- а) 78
- б) 82
- в) 87
- г) 88

In [ ]:
# You code here

**8. Среди кого доля зарабатывающих больше 50 тысяч в год больше: женатые или одинокие мужчины (признак семейный статус *marital-status*)? Будем считать женатыми всех, чей семейный статус начинается с *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), остальных будем считать холостяками.**

- а) Среди женатых
- б) Среди холостых

In [ ]:
# You code here

**9. Какое наибольшее число рабочих часов в неделю? (*hours-per-week* feature)? Сколько людей работает столько часов и какой процент среди них тех, кто зарабатывает больше 50 тысяч?**

- а) 102 hours/week, 20 people, 41% are rich
- б) 99 hours/week, 95 people, 30% are rich
- в) 99 hours/week, 85 people, 29% are rich
- г) 90 hours/week., 70 people, 34% are rich

In [ ]:
# You code here

**10. Посчитайте среднее число рабочих часов среди тех, кто зарабатывает мало и много для каждой страны (*native-country*). Какие значения для Японии?**

- а) 41 и 48
- б) 46 и 43
- в) 44 и 48
- г) 41 и 40

In [ ]:
# You code here